/* styles.css */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 1em;
	text-align: center;
}

nav {
	background-color: #444;
	padding: 1em;
	text-align: center;
}

nav a {
	color: #fff;
	text-decoration: none;
}

.navbar {
	background-color: #ADD8E6; /* Light blue background */
	padding: 1em;
	text-align: center;
}

.navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.navbar li {
	margin-right: 2em;
}

.navbar a {
	color: #333;
	text-decoration: none;
}

.navbar a:hover {
	color: #666;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 1em;
	text-align: center;
}